<!DOCTYPE html>
<html lang="en" class=""><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Realtime economy map system">
    <meta name="author" content="bitlab.io">

<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
<link rel="icon" href="./favicon.ico" type="image/x-icon">

    <title>BTCmap</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.min.css">
    
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="./css/btcmap.css">

     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
      <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
      #map { height: 100%; background: rgb(0,0,0);}

      .leaflet-tile-pane 
      {
        opacity: 0.9;
      }

    </style>
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#theMenu" class="">

 
    <div id="menuMarkerAdd" style="position: fixed; z-index: 20; margin-left: 4em; margin-top: 2em; padding: 2em; max-width: 500px; background: rgb(40,40,40); color: #7f7f7f; display: none;"> 
      <h3 style="color: #fff;">Choose</h3><br>
      <div id="markerAddExchange" class="markerselect"><img src="/assets/marker-exchange-2x.png" style="padding-right: 1em; width: 40px;"> FIAT EXCHANGE</div>
      <div id="markerAddVendor" class="markerselect"><img src="/assets/marker-bitcoin-2x.png" style="padding-right: 1em; width: 40px;"> VENDOR</div>
      <div id="markerAddRequest" class="markerselect"><img src="/assets/marker-quest-2x.png" style="padding-right: 1em; width: 40px;"> REQUEST</div>
    </div>


    <!-- Menu -->
    <nav class="menu" id="theMenu">
        <div class="menu-wrap">
            <h1 class="logo"><a href="http://bitlab.io/btcmap">BTCMAP</a></h1>
            <i class="fa fa-times menu-close"></i>
            <a href="#todo" class="smoothScroll" id="addMarker"><i class="fa fa-map-marker"></i> ADD</a>

            <a href="https://github.com/fluentart/bitlab/blob/master/views/btcmap.html" class="smoothScroll"><i class="fa fa-github"></i></a>
            
        </div>

        <!-- Menu button -->
        <div id="menuToggle" class=""><i class="fa fa-bars"></i></div>
    </nav>

 <div id="map"></div>




    <!-- Placed at the end of the document so the pages load faster -->
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<script>
// create a map in the "map" div, set the view to a given place and zoom
var map = L.map('map').setView([0, 0], 15);
// add an OpenStreetMap tile layer

var mapnodes = [];

L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '<a href="http://osm.org/copyright">osm</a>'
}).addTo(map);

map.on('click', function(e) {
    //console.log(e.latlng);
    loadnodes();
});


map.on('moveend', function(e) {
  loadnodes();
})

// add a marker in the given location, attach some popup content to it and open the popup
var userMarker = L.marker([0, 0]).addTo(map)
    .bindPopup('Finding location...')
    .openPopup();

var loadnodes = function () {
  console.log("loading nodes")
  var b = map.getBounds();
  var n = {}
  n.lng = [b._southWest.lng, b._northEast.lng];
  n.lat = [b._southWest.lat, b._northEast.lat];
  $.post( "/btcmap/api/getnodes", n , function( data ) {
    updateMapnodes( data );
  }, "json");


}

var iconRequest = L.icon({
    iconUrl: '/assets/marker-quest-2x.png',
    shadowUrl: '/assets/marker-shadow.png',
    iconSize:     [25, 41], // size of the icon
    shadowSize:   [41, 41], // size of the shadow
    iconAnchor:   [12, 41], // point of the icon which will correspond to marker's location
    shadowAnchor: [14, 40],  // the same for the shadow
    popupAnchor:  [0, -35] // point from which the popup should open relative to the iconAnchor
});

var iconExchange = L.icon({
    iconUrl: '/assets/marker-exchange-2x.png',
    shadowUrl: '/assets/marker-shadow.png',
    iconSize:     [25, 41], // size of the icon
    shadowSize:   [41, 41], // size of the shadow
    iconAnchor:   [12, 41], // point of the icon which will correspond to marker's location
    shadowAnchor: [14, 40],  // the same for the shadow
    popupAnchor:  [0, -35] // point from which the popup should open relative to the iconAnchor
});

var iconVendor = L.icon({
    iconUrl: '/assets/marker-bitcoin-2x.png',
    shadowUrl: '/assets/marker-shadow.png',
    iconSize:     [25, 41], // size of the icon
    shadowSize:   [41, 41], // size of the shadow
    iconAnchor:   [12, 41], // point of the icon which will correspond to marker's location
    shadowAnchor: [14, 40],  // the same for the shadow
    popupAnchor:  [0, -35] // point from which the popup should open relative to the iconAnchor
});


var updateMapnodes = function (nodes) {

  for (var m in mapnodes) {
    map.removeLayer(mapnodes[m]);
  }

  for (var n in nodes) 
  {
    console.log(nodes[n]);
    if (nodes[n].tags.website != undefined) {
      var nodeInfo = nodes[n].tags.name + "</br>";
      if (nodes[n].tags.phone != undefined) { nodeInfo += nodes[n].tags.phone + "</br>"; }
      nodeInfo += '<a href="'+nodes[n].tags.website+'">website</a>';

      var markerOptions = {}

      if (nodes[n].type == "exchange") {
        markerOptions.icon = iconExchange;
      }
      if (nodes[n].type == "vendor") {
        markerOptions.icon = iconVendor;
      }      
      if (nodes[n].type == "request") {
        markerOptions.icon = iconRequest;
      }    
      var mapMarker = L.marker([nodes[n].lat, nodes[n].lon], markerOptions).addTo(map)
      .bindPopup(nodeInfo);
      mapnodes.push(mapMarker); //to keep track of them
    }

  }

}

var resize = function () {
  var h = $( window ).height();
  $('#map').css('height', h); 
}

var getLocation = function () {
    if (navigator.geolocation) {
        //navigator.geolocation.getCurrentPosition(showPosition);
        navigator.geolocation.watchPosition(updatePosition);
    } else {
        console.log("Geolocation is not supported by this browser.");
    }
}

var gpspos = [0,0];

function updatePosition(position) {
  console.log(position);
  var latlng = [position.coords.latitude, position.coords.longitude];
  gpspos = latlng;
  map.setView( latlng );
  

  userMarker.setLatLng(latlng).setPopupContent('This is you!<br> Have a look around, zoom out if you need to look further!<br>You can add markers using the menu top right!');


}

resize();

$( window ).resize(function() {
  resize();
});



$( document ).ready(function() {
   resize();
   getLocation();

      $('#menuToggle, .menu-close').on('click', function(){
        $("#menuMarkerAdd").fadeOut();
        $('#menuToggle').toggleClass('active');
        $('body').toggleClass('body-push-toleft');
        $('#theMenu').toggleClass('menu-open');
      });   

   $("#addMarker").click(function () {
      $("#menuMarkerAdd").fadeIn();
        $('#menuToggle').toggleClass('active');
        $('body').toggleClass('body-push-toleft');
        $('#theMenu').toggleClass('menu-open');      
   });

   $("#markerAddExchange").click( function () {
      $("#menuMarkerAdd").fadeOut();
 
      var node = {
        "type" : "exchange",
        "lat" : parseFloat(gpspos[0]),
        "lon" : parseFloat(gpspos[1]),
        "tags" : {
          "name" : "reddit beta point",
          "website" : "http://www.reddit.com/r/Bitcoin/comments/352qcb/idea_for_bitcoin_app_i_want_to_swing_past_you/"

          }
        }

        $.post( "/btcmap/api/addnode", node , function( data ) {
          console.log( data ); loadnodes();
        }, "json");
   });

   $("#markerAddVendor").click( function () {
      $("#menuMarkerAdd").fadeOut();
 
      var node = {
        "type" : "vendor",
        "lat" : parseFloat(gpspos[0]),
        "lon" : parseFloat(gpspos[1]),
        "tags" : {
          "name" : "reddit beta point",
          "website" : "http://www.reddit.com/r/Bitcoin/comments/352qcb/idea_for_bitcoin_app_i_want_to_swing_past_you/"

          }
        }

        $.post( "/btcmap/api/addnode", node , function( data ) {
          console.log( data ); loadnodes();
        }, "json");
   });

   $("#markerAddRequest").click( function () {
      $("#menuMarkerAdd").fadeOut();
 
      var node = {
        "type" : "request",
        "lat" : parseFloat(gpspos[0]),
        "lon" : parseFloat(gpspos[1]),
        "tags" : {
          "name" : "reddit beta point",
          "website" : "http://www.reddit.com/r/Bitcoin/comments/352qcb/idea_for_bitcoin_app_i_want_to_swing_past_you/"

          }
        }

        $.post( "/btcmap/api/addnode", node , function( data ) {
          console.log( data ); loadnodes();
        }, "json");
   });   

    

});






</script>

</body></html>
