<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Signup</title>



    <link rel="stylesheet" href="/css/bitlab.css">
    <style>
        body { background: rgb(30,30,30); color: #ccc; padding: 3em; }
        #heading { margin-bottom: 3em; }
        input { padding: 1em; }
        fieldset { border: none;}
        button { padding: 1.2em; border: none;}
        button:hover { background: rgb(0,175,125); cursor: pointer; }
    </style>

    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    
</head>



<body>

<div class="col-lg-12 text-center">
    <h2 class="section-heading" id="heading">Create an Account</h2>


    <div class="pure-form pure-form-stacked" id="signupform" >
        <fieldset>

            <input id="email" type="email" placeholder="you@domain.example" style="margin: 0 auto;">

            <input id="password" type="password" placeholder="Password" style="margin: 0 auto;">

            <button id="submit" type="submit" value="Submit" class="submit pure-button pure-button-primary" style="margin-top: 1em;">Next step</button>
        </fieldset>
        <p>Already have an Account? <a href="/signin">Signin</a></p>
    </div>                    

    <p id="message" style="display: none;"></p>
</div>


 <script>
    
    $(document).ready(function(){
        console.log("test");    
        
        //SIGNUP
        

        $("#submit").click( function () {
            doSignup();
        });
        //SIGNUP END

        $(document).keypress(function(event){
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if(keycode == '13'){
                doSignup();
            }
        });

    });




 var doSignup = function () {
        var signup = {};
            console.log("asdasd")

          signup.email=$("#email").val();
          signup.pass=$("#password").val();
          
         
          $.post("/signup", signup, function(data){
            
            if(data==='exists')
              {
                //$("#signupform").hide();
                $("#message").html('A user with that email address already exists on our records. Try to <a href="/signin">signin</a> instead?');
                $("#message").show();

                //alert("login success");
              }

            if(data==='verifyemail')
              {
                $("#signupform").hide();
                $("#heading").html("VERIFY EMAIL")
                $("#message").html('We need to verify your email address to be yours. Please check your inbox for the verification link. ');
                $("#message").show();

                //alert("login success");
              }

            if(data==='done')
              {
                $("#signupform").hide();
                $("#heading").html("SUCCESS")
                $("#message").html('Your account has been created! You can now <a href="/">continue</a>');
                $("#message").show();

                //alert("login success");
              }


          });
        };//end func

</script>



</body>

</html>
