<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Signin</title>



    <link rel="stylesheet" href="/css/bitlab.css">
    <style>
        body { background: rgb(30,30,30); color: #ccc; padding: 3em; }
        #heading { margin-bottom: 3em; }
        input { padding: 1em; }
        fieldset { border: none;}
        button { padding: 1.2em; border: none;}
        button:hover { background: rgb(0,175,125); cursor: pointer; }
    </style>

    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    
</head>

<body>

   
    <div class="col-lg-12 text-center">
        <h2 class="section-heading" id="heading">SIGNIN</h2>


        <div class="pure-form pure-form-stacked" id="signupform" >
            <fieldset>


                <input id="email" type="email" placeholder="Email" style="margin: 0 auto;">

                <input id="password" type="password" placeholder="Password" style="margin: 0 auto;">

                <button id="submit" type="submit" value="Submit" class="submit pure-button pure-button-primary" style="margin-top: 1em;">Signin</button>
            </fieldset>
            <p><a href="/recover">Forgot your password?</a><br>
            Don't have an account? <a href="/signup">Signup</a></p>
        </div>                    

        <p id="message" style="display: none;"></p>
    </div>



 <script>
    
    $(document).ready(function(){
        console.log("loaded");    
        
        //PRESS ENTER
        $(document).keypress(function(event){
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if(keycode == '13'){
                doSignin();
            }
        });
        
        //CLICK BUTTON
        $("#submit").click(function(){
          console.log("clicked")
          doSignin();            
        });
        
    });



var doSignin = function () {
    //SIGNUP
    var signin = {};
    signin.email=$("#email").val();
    signin.pass=$("#password").val();


    $.post("/signin", signin, function(data)
    {
        if(data==='notfound')
        {
            $("#message").html('Email or password incorrect. Please try again or <a href="/recover">set a new password</a>.');
            $("#message").show();
        }

        if(data==='success')
        {
        $("#message").html('Success');
        $("#message").show();
        window.location.replace("/");
        }
    });        
}


</script>

</body>

</html>
